### Instructions to follow before running the jupyter notebook
Before running the jupyter notebook, run the following commands in anaconda prompt to ensure that the notebook can run smoothly.

conda create -n BH2020 python=3.7 anaconda <br>
conda activate BH2020 <br>
pip install -r requirements.txt

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("submission5(SVC+CBC).csv")
df.head(3)

   id   outwear       top  trousers  women dresses  women skirts
0   0  0.051504  0.979705  0.964019       0.001287      0.001046
1   1  0.897774  0.994210  0.018506       0.024787      0.014602
2   2  0.972686  0.180591  0.982314       0.001278      0.001037

In [15]:
yhat = df[df.columns[2:]]
yhat[["outwear", "top", "trousers", "women dresses", "women skirts"]] = df[["outwear", "top", "trousers", "women dresses", "women skirts"]].astype(float)
yhat.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'